* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E2E8F0;
}

.icon {
    width: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 200px 3fr 1fr;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
}

.circle-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FACC14;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 500;
}


/* SIDEBAR */

.sidebar {
    background-color: #1992D3;
    color: white;
    grid-row: 1 / 4;
}
.sidebar h2, .sidebar li {
    padding: 10px;
}

.logo, .logo h2 {
    display: flex;
    padding: 10px;
    margin: 0;
}


/* HEADER */

.header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px 40px;
}

input:focus {
    border: 2px solid purple;
}

.header-top-half {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left {
    max-width: 600px;
    flex: 1;
}

input {
    border-radius: 20px;
    border: none;
    background-color: #E2E8F0;
    flex: 1;
    max-width: 500px;
    height: 20px;
}

.header-bottom-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 20px;;
}

button {
    width: min-content;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #1992D3;
    color: white;
}

/* PROJECTS */

.projects {
    grid-column-start: 2;
    padding: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card {
    background-color: white;
    padding: 16px;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #F0B329;
    color: grey;
}

.card-icons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.card h3 {
    color: black;
}


/* ANNOUNCEMENTS AND TRENDING */

.right-side {
    padding: 15px 15px 15px 0px;
    display: grid;
}

.announcements {
    align-self: start;
}

.trending {
    align-self: end;
}

.trending-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
}


.content {
    background-color: white;
    padding: 25px;
    font-size: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.announcements-div {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.announcements-div:nth-child(3) {
    border: none;
}